############################################
# STM32CubeIDE / Eclipse
############################################
.metadata/
qb79616/.settings/
*.launch
*.log

############################################
# Build outputs
############################################
qb79616/Debug/
bq79600/BQ79600_UART_Sample_Code/Debug
qb79616/Release/
bq79600/BQ79600_UART_Sample_Code/Release/
qb79616/Binaries/
qb79616/build/

############################################
# Compiled files
############################################
*.o
*.d
*.su
*.cyclo
*.elf
*.hex
*.bin
*.map
*.lst

############################################
# Static libraries
############################################
*.a
*.lib

############################################
# Temporary / backup files
############################################
*~
*.swp
*.bak

############################################
# OS generated
############################################
.DS_Store
Thumbs.db

############################################
# VS Code (if used)
############################################
.vscode/

############################################
# Python (sometimes used for tools)
############################################
__pycache__/
*.pyc
