############################################
# STM32CubeIDE / Eclipse
############################################
.metadata/
.settings/
*.launch
*.log

############################################
# Build outputs
############################################
Debug/
Release/
Binaries/
build/

############################################
# Compiled files
############################################
*.o
*.d
*.su
*.cyclo
*.elf
*.hex
*.bin
*.map
*.lst

############################################
# Static libraries
############################################
*.a
*.lib

############################################
# Temporary / backup files
############################################
*~
*.swp
*.bak

############################################
# OS generated
############################################
.DS_Store
Thumbs.db

############################################
# VS Code (if used)
############################################
.vscode/

############################################
# Python (sometimes used for tools)
############################################
__pycache__/
*.pyc
